body{
    background-color: rgb(255, 166, 0);
}
.titulo{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin-left: 250px;
}
.p1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.p2{
    color: red;
    font-family: cursive;
    font-size: 30px;
}
img{
width: 150px;
height: 150px;
vertical-align: middle;
}
